#root {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 200;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

.app-container {
    max-height: 98vh;
    height: 98vh;
    background-image: url("https://www.pxfuel.com/en/desktop-wallpaper-tmypp");
}

.layout {
    height: calc(100vh - 10px);
    display: grid;
    grid-template-rows: auto auto 1fr 2fr auto auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header header"
        "main aside";
    grid-gap: 1%;
    padding-right: 10%;
    padding-left: 10%;
    max-height: 80vh;

}

.header {
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: cursive;
    font-weight: 200;
    border: solid black 1px;
    text-align: center;
    background-color: rgba(202, 97, 104, 255);
    color: bisque;
    height: 15%;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}

input {
    width: 350px;
    height: 40px;
    box-sizing: border-box;
    text-align: center;
}

.search {
    width: 50%;
}

.search-input {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1rem;
}

.user-interface:hover {
    background-color: rgba(202, 97, 104, 255);
    zoom: 99%;
}

.p-l-img:hover {
    zoom: 99%;
}

.search:hover {
    zoom: 102%;
}

.user-interface {
    width: 50%;
    height: 80%;
    background-color: rgba(202, 97, 104, 255);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.user-image {
    width: 80px;
}


.user-button:hover {
    background-color: rgb(116, 108, 108);
}

.user-button {
    color: rgba(202, 97, 104, 255);
    font-weight: 200;
    border-radius: 2rem;
    background-color: rgba(194, 197, 199);
    font-family: cursive;

}

.user-playlist-button {
    color: rgba(202, 97, 104, 255);
    font-weight: 200;
    border-radius: 2rem;
    background-color: rgba(194, 197, 199);
    font-family: cursive;
    width: max-content;
}

.user-playlist-button:hover {
    background-color: rgb(116, 108, 108);
}

.username {
    color: bisque;
}

.main {
    font-family: cursive;
    color: bisque;
    background-color: rgba(194, 197, 199, 0.187);
}

.video-player {
    grid-area: main;
    padding-top: 30%;
}

.video-stream {
    grid-area: main;
    text-align: center;
    background-color: rgba(194, 197, 199, 0.187);

}

iframe {
    width: 100%;
}

.player-title {
    text-align: center;
    grid-area: main;
    margin-top: 3%;
    margin-bottom: 3%;
    font-family: cursive;
    font-size: 100px;
    font-weight: 200;
}

.singal-playlist:hover {
    background-color: rgba(211, 208, 208, 0.333);
}

.singal-playlist {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    border: solid rgba(128, 128, 128, 0.29) 1px;
    border-radius: 1rem;
    margin-top: 1%;
}

.p-l-icons {
    margin-left: 10%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
}

.p-l-name {
    font-weight: 200;
    font-size: x-large;

}

.start-playing-the-playlist {
    display: grid;
    grid-template-columns: 10fr 1fr;
    justify-items: center;
    align-items: center;
    min-height: 80px;
}

#pl-input-name {
    width: 30%;
    border: solid gray 1px;
    border-radius: 1rem;
    margin-left: 10%;
}

#edit-button {
    margin-right: 50%;
}

.new-pl {
    margin-left: 15%;
    zoom: 170%;
}

.new-pl:hover {
    -webkit-animation: spin 1s linear;
    -moz-animation: spin 1s linear;
    animation: spin 1s linear;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

}

.playlist-container {
    font-family: cursive;
    grid-area: aside;
    max-height: 85vh;
    overflow: hidden;
    overflow-y: scroll;
    background-color: rgba(194, 197, 199, 0.187);


}

.user-playlists {
    font-family: cursive;
    grid-area: main;
    max-height: 85vh;
    overflow: hidden;
    overflow-y: scroll;
    background-color: rgba(194, 197, 199, 0.187);

}

.p-l-img {
    width: 200px;
    height: 98%;
    padding-right: 1;
    border-radius: 1rem;
    border: solid rgb(255, 255, 255) 1px;
}

.p-l-img :active {
    border: solid red 3px;
}

.the-playlist:hover {
    background-color: rgba(211, 208, 208, 0.333);
}

.the-playlist :active {
    background-color: rgb(129, 129, 129);
}

.the-playlist {
    font-size: small;
    font-weight: 200;
    display: flex;
    flex-direction: row-reverse;
    align-content: space-between;
    justify-content: space-between;
    /* height: 12%; */
    border: solid rgba(128, 128, 128, 0.146) 1px;
    padding: 1%;
    margin-top: 1%;
}

.singal-user-playlist {
    font-size: small;
    font-weight: 200;
    display: flex;
    flex-direction: row-reverse;
    align-content: space-between;
    justify-content: space-between;
    height: 12%;
    border: solid rgba(128, 128, 128, 0.146) 1px;
    padding: 1%;
    margin-top: 1%;
}

.the-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;


}

.a-t-p-button {
    height: 25%;
}

.song-title {
    margin-top: 2px;
    margin-right: 10px;
    text-align: right;
    font-weight: 200;
    margin-bottom: 1.5%;
    -webkit-text-size-adjust: auto;
}

.song-durnation {
    margin-right: 10px;
    text-align: right;
    color: rgb(100, 91, 91);
}

.views {
    color: rgb(100, 91, 91);
    text-align: right;
    margin-right: 10px;
}

.add-to-playlist {
    z-index: 1;
    display: flex;
    align-items: center;
    margin: 2%;
}

.user-login-interface {
    font-family: cursive;
    background-color: rgb(218, 201, 201);
    margin-top: 20px;
    padding: 5%;
    border: solid red 2px;
    border: solid;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
}

#login-h1 {
    text-align: center;
    font-family: cursive;
    margin-bottom: 0;
}

#login-h4 {
    margin-top: 0;
}

label {
    margin-bottom: 1%;
    margin-top: 1%;
}

#date-input {
    margin-top: 1%;
    align-self: center;
    margin-bottom: 2%;
}

#login-form {
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

#gender-div {
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-between;
}

button {
    border-radius: 1rem;
    border: 1px gray solid;
    margin: 1%;
}

#login-button {
    margin-top: 5%;
    width: fit-content;
    align-self: center;
}

.login-input {
    border: solid black 1px;
    border-radius: 1em;
    width: fit-content;
}